scipy==1.9.3            (Позволяет искать интеграл от выражения, используется для сверения ответа)
matplotlib==3.6.2       (Позволяет строить графики, используется для построения графиков погрешностей измерения)
numpy==1.23.4           (Позволяет создавать массивы и работать с ними).
Встроенные библиотеки: 
math                    (Позволяет считать тригонометрические, степенные, логарифмические функциии, округлять числа)
random                  (Используется для метода Монте-Карло для создания случайных точек на плоскости)
